<% provide(:title, t('.title') ) %>

<div class="card">
    <h3 class="card-header"><%= t('.ways_to_contribute') %></h3>
    <div class="card-block">
        <p class="card-text"><%= markdown( t('.ways_to_contribute_paragraph') ) %></p>
    </div>
</div>

<hr>

<h3><%= t('.special_thanks_to') %></h3>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top img-fluid" src="https://pbs.twimg.com/profile_images/715336242338992128/OuWa90as.jpg" height="235" alt="twilio">
    <div class="card-block">
      <h4 class="card-title"><%= t('.twilio') %></h4>
      <p class="card-text"><%= markdown( t('.twilio_text') ) %></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top img-fluid" src="https://pbs.twimg.com/profile_images/469479527492509696/H2z0gh08.png" height="235" alt="chayn">
    <div class="card-block">
      <h4 class="card-title"><%= t('.chayn') %></h4>
      <p class="card-text"><%= markdown( t('.chayn_text') ) %></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top img-fluid" src="https://pbs.twimg.com/profile_images/669127116945039360/5kcNoKc7.jpg" height="235" alt="empowerhack">
    <div class="card-block">
      <h4 class="card-title"><%= t('.empowerhack') %></h4>
      <p class="card-text"><%= markdown( t('.empowerhack_text') ) %></p>
    </div>
  </div>
</div>