<% provide(:title, t('.title') ) %>

<div class="card">
    <h3 class="card-header"><%= t('.what_is_soul_medicine') %></h3>
    <div class="card-block">
        <p class="card-text"><%= markdown( t('.what_is_soul_medicine_paragraph') ) %></p>
    </div>
</div>

<div class="card">
    <h3 class="card-header"><%= t('.what_sparked') %></h3>
    <div class="card-block">
        <p class="card-text"><%= markdown( t('.what_sparked_paragraph') ) %></p>
    </div>
</div>

<div class="card">
    <h3 class="card-header"><%= t('.like_what_you_see') %></h3>
    <div class="card-block">
        <p class="card-text"><%= markdown( t('.like_what_you_see_paragraph') ) %></p>
    </div>
</div>