<footer class="footer">
    <div class="container">
        <span class="text-muted">© <%= Time.current.year %> Soul Medicine</span>
        <span class="pull-right">
            <%= link_to("Admin", admin_session_path) %> |
            <%= icon("github") %> <%= link_to("GitHub", "https://github.com/empowerhack/soulmedicine") %> |
            <%= icon("slack") %> <%= link_to("Slack", "https://chayn.slack.com") %> |
        </span>
    </div>
</footer>