<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Soul Medicine</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%= navbar_link_to( "Home", root_path, :active_when => { :controller => "home" }) %>
      <%= navbar_link_to( "Ethos", ethos_path, :active_when => { :action => "ethos" }) %>
      <%= navbar_link_to( "Contribute", contribute_path, :active_when => { :action => "contribute" }) %>
    </ul>
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <%= navbar_link_to( "Log Out", destroy_user_session_path, :method => :delete) %>
      <% else %>
        <%= navbar_link_to( "Confirm Phone", confirmation_index_path, :active_when => { :controller => "confirmation" }) %>
        <%= navbar_link_to( "Log In", new_session_path('user'), :active_when => { :controller => "user/sessions" }) %>
        <%= navbar_link_to( "Sign Up", new_registration_path('user'), :active_when => { :controller => "devise/registrations" }) %>
      <% end %>
    </ul>
  </div>
</nav>