<div class="card">
    <h4 class="card-header">History</h4>
    <table class="table table-condensed table-bordered table-hover">
        <thead class="thead-default">
            <tr>
                <th colspan=3></th>
                <th colspan=3 class="text-center">Change</th>
            </tr>
            <tr>
                <th>Time</th>
                <th>Event</th>
                <th>By</th>
                <th>Column</th>
                <th>From</th>
                <th>To</th>
            </tr>
        </thead>
        <tbody>
            <% obj.versions.each do |version| %>
                <% version.changeset.each do |column, change| next if column.match(/_id|_at|id/) %>
                    <tr>
                        <td><%= version.created_at %></td>
                        <td><%= version.event.capitalize %></td>
                        <td><%= version.whodunnit %></td>
                        <td><%= column.capitalize %></td>
                        <td><%= change[0] %></td>
                        <td><%= change[1] %></td>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
</div>