<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title"><%= @course.name %></h4>
                <p class="card-text"><%= @course.description %></p>
            </div>
            <% if admin_signed_in? %>
                <div class="card-block">
                    <dl class="row">
                        <dt class="col-sm-4">Active?</dt>
                        <dd class="col-sm-8"><%= yesno(@course.active) %></dd>
                        <dt class="col-sm-4">Approved?</dt>
                        <dd class="col-sm-8"><%= yesno(@course.approved) %></dd>
                        <dt class="col-sm-4">Display Order</dt>
                        <dd class="col-sm-8"><%= @course.sequential_id %></dd>
                    </dl>
                    <%= link_to sanitize("#{icon('plus')} Add New Subject"), new_course_subject_path(@course), :class => "btn btn-primary" %>
                </div>
            <% end %>
        </div>
    </div>
    <div class="col-md-8">
        <div id="accordion" role="tablist" aria-multiselectable="true">
            <% @course.subjects.each_with_index do |s, index| %>
                <div class="card">
                    <div class="card-header" role="tab" id="heading<%= index %>">
                        <h5 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index %>" aria-expanded="false" aria-controls="collapse<%= index %>">
                                <%= s.name %>
                                <% if admin_signed_in? %>
                                    <small class="pull-right">
                                        <%= badge( s.active, "Active" ) %>
                                        <%= badge( s.approved, "Approved" ) %>
                                    </small>
                                <% end %>
                            </a>
                        </h5>
                    </div>
                    <div id="collapse<%= index %>" class="collapse" role="tabpanel" aria-labelledby="heading<%= index %>">
                        <div class="card-block">
                            <%= s.description %>
                        </div>
                        <% if admin_signed_in? %>
                            <div class="card-block">
                                <%= link_to sanitize("#{icon('edit')} Edit Subject"), edit_course_subject_path(:course_id => @course, :id => s),
                                    :class => "btn btn-primary card-link" %>
                                <% if current_admin.superuser? %>
                                    <%= link_to sanitize("#{icon('trash')} Remove Subject"), course_subject_path(:course_id => @course, :id => s), method: :delete,
                                        data: { confirm: "Are you sure?" },
                                        :class => "btn btn-danger card-link" %>
                                <% end %>
                            </div>
                        <% end %>
                        <div class="card-block">
                            <h6 class="card-subtitle mb-2 text-muted">Lessons</h6>
                            <ul class="list-group list-group-flush">
                                <%= link_to "Cras justo odio", "#", :class => "list-group-item list-group-item-action" %>
                                <%= link_to "Vestibulum", "#", :class => "list-group-item list-group-item-action" %>
                            </ul>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>