<% provide(:title, t('.title') ) %>

<%= form_for(@user_preference, as: 'user_preference', url: user_preference_path(@user_preference.user_id), method: :patch) do |f| %>
<div class="row">
    <div class="col-md-3">
        <ul class="nav flex-column" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#required" role="tab">Required</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#general" role="tab">General</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#courses" role="tab">Courses</a>
          </li>
        </ul>
    </div>
    <div class="col-md-9">
        <%= error_messages_for(@user_preference) %>
        <div class="tab-content">
            <div class="tab-pane active" id="required" role="tabpanel">
                <% f.fields_for :user, @user do |u| %>
                    <div class="form-group row">
                        <%= u.label :phone_number, :class => 'col-sm-3 col-form-label' %>
                        <div class="col-sm-9">
                            <%= u.text_field :phone_number, :required => false, :class => 'form-control' %>
                        </div>
                    </div>
                <% end %>

                <div class="form-group row">
                    <%= f.label :delivery_time, :class => 'col-sm-3 col-form-label' %>
                    <div class="col-sm-9">
                        <%= select(:user_preference, :delivery_time, [["Morning","morning"], ["Afternoon","afternoon"], ["Evening","evening"]], {}, {:class => 'form-control'}) %>
                    </div>
                </div>

                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <%= check_box(:user_preference, :consent, :required => true, :class => 'form-check-input') %>
                        <%= t '.consent_text' %>
                    </label>
                </div>
            </div>
            <div class="tab-pane" id="profile" role="tabpanel">
                <div class="form-group row">
                    <%= f.label :first_name, :class => 'col-sm-3 col-form-label' %>
                    <div class="col-sm-9">
                        <%= f.text_field :first_name, :required => false, :class => 'form-control' %>
                        <p class="form-text text-muted">Optional</p>
                    </div>
                </div>

                <div class="form-group row">
                    <%= f.label :last_name, :class => 'col-sm-3 col-form-label' %>
                    <div class="col-sm-9">
                        <%= f.text_field :last_name, :required => false, :class => 'form-control' %>
                        <p class="form-text text-muted">Optional</p>
                    </div>
                </div>

                <div class="form-group row">
                    <%= f.label :gender, :class => 'col-sm-3 col-form-label' %>
                    <div class="col-sm-9">
                        <%= select(:user_preference, :gender, [['Male', 'Male'], ['Female', 'Female'], ['Prefer Not To Say', 'N/A']], {}, {:class => 'form-control'}) %>
                        <p class="form-text text-muted">Optional</p>
                    </div>
                </div>

                <div class="form-group row">
                    <%= f.label :country_of_origin, :class => 'col-sm-3 col-form-label' %>
                    <div class="col-sm-9">
                        <%= country_select(
                                "user_preference",
                                :country_of_origin,
                                { priority_countries: ["AF", "SY", "IQ"], include_blank: true },
                                { class: 'form-control', data: { attribute: "value" } }
                        ) %>
                        <p class="form-text text-muted">Optional</p>
                    </div>
                </div>

                <div class="form-group row">
                    <%= f.label :country_of_residence, :class => 'col-sm-3 col-form-label' %>
                    <div class="col-sm-9">
                        <%= country_select(
                                "user_preference",
                                :country_of_residence,
                                { priority_countries: ["GB", "FR", "DE"], include_blank: true },
                                { class: 'form-control', data: { attribute: "value" } }
                        ) %>
                        <p class="form-text text-muted">Optional</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="general" role="tabpanel">
                General Fields
            </div>
            <div class="tab-pane" id="courses" role="tabpanel">
                Choose Your Courses
            </div>
        </div>
        <%= f.submit :class => 'btn btn-primary btn-block'  %>
    </div>
</div>
<% end %>
