<%= render("shared/navbar") %>

<%= render("shared/flash") %>

<%= yield :header %>

<div class="container body-container">

  <%= render("shared/page_header") %>

  <div class="row">
    <div class="col-md-6 offset-md-6">
      <%= render_breadcrumbs :builder => BootstrapBreadcrumbsBuilder %>
    </div>
  </div>

  <div class="content">
    <%= yield %>
  </div>

</div>

<%= render("shared/footer") %>

<% parent_layout "base" %>