<%= render("shared/navbar") %>

<%= render("shared/flash") %>

<%= yield :header %>

<div class="container body-container">
  
  <%= render("shared/page_header") %>

  <div class="content">
    <%= yield %>
  </div>

  <%= render("shared/footer") %>

</div>

<% parent_layout "base" %>