<%= render("shared/navbar") %>

<%= render("shared/flash") %>

<%= yield :header %>

<div class="container body-container">

  <%= render("shared/page_header") %>

  <div class="content">
    <%= yield %>
  </div>

</div>

<%= render("shared/footer") %>

<% parent_layout "base" %>