<%= render("shared/navbar") %>

<div class="container body-container">

  <%= render("shared/flash") %>
  <%= render("shared/page_header") %>

  <div class="content">
    <%= yield %>
  </div>

  <%= render("shared/footer") %>

</div>

<% parent_layout "base" %>